{
  "balance": {
    "x": 1735,
    "y": 36,
    "width": 100,
    "height": 40
  },
  "items": {
    "start_x": 480,
    "start_y": 240,
    "width": 220,
    "height": 280,
    "horizontal_spacing": 40,
    "vertical_spacing": 40,
    "rows": 2,
    "cols": 6
  }
}
